.primary-header-group {
  background-color: #c7ceea;
}
.primary-header {
  background-color: #d9e0ff;
}

.header-1 {
  background-color: #fbd1ff;
}
.header-1-group {
  background-color: #e0bbe4;
}

.header-2 {
  background-color: #c5a5e4;
}
.header-2-group {
  background-color: #957dad;
}

.header-3 {
  background-color: #f6aadc;
}
.header-3-group {
  background-color: #d291bc;
}

.header-4 {
  background-color: #fed4e1;
}
.header-4-group {
  background-color: #fec8d8;
}

.header-5 {
  background-color: #ffebe4;
}
.header-5-group {
  background-color: #ffdfd3;
}
